* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.wrapper {
    width: 80%;
    padding-top: 20px;
    margin: 0 auto;
}

/* BANNER */
.banner, .banner-left, .banner-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner a {
    text-decoration: none;
    color: black;
}
.banner-left {
    justify-content: flex-start;
    font-size: 20px;
    flex: 1;
}
.banner-left a {
    font-weight: 650;
    margin-right: 5px;
}
.banner-right {
    font-weight: 500;
    flex: 1;
}
.banner-right a:hover, .banner-right i:hover {
    color: grey;
    cursor: pointer
}